@model Team

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">İşçimiz Haqqında</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Ana Səhifə</a></li>
                            <li>İşçimiz haqqında</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- TEAM DETAILS AREA START -->
<div class="ltn__team-details-area mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="ltn__team-details-member-info text-center mb-40">
                    <div class="team-details-img">
                        <img src="~/uploads/team/@Model.Image" alt="Team Member Image">
                    </div>
                    <h2>@Model.Fullname</h2>
                    <h6 class="text-uppercase ltn__secondary-color">Property Seller</h6>
                    <div class="ltn__social-media-3">
                        <ul>
                            <li><a href="#">@Html.Raw(Model.teamDetail.Facebook)</a></li>
                            <li><a href="#">@Html.Raw(Model.teamDetail.Twitter)</a></li>
                            <li><a href="#">@Html.Raw(Model.teamDetail.Linkedin)</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ltn__team-details-member-info-details">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ltn__team-details-member-about">
                                <ul>
                                    <li><strong>Vəzifə:</strong> Makler</li>
                                    <li><strong>Təcrübə:</strong> @Model.teamDetail.Experience</li>
                                    <li><strong>Yer:</strong> @Model.teamDetail.Location</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ltn__team-details-member-about">
                                <ul>
                                    <li><strong>Email:</strong> @Model.teamDetail.Email</li>
                                    <li><strong>Telefon:</strong> @Model.teamDetail.PhoneNumber</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p>@Model.teamDetail.Desc</p>

                    <br />

                    <div class="ltn__form-box contact-form-box box-shadow white-bg mt-50">
                        <h4 class="title-2">İşçilərimizdən məlumat alın </h4>
                        <form id="contact-form" action="mail.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-item-name ltn__custom-icon">
                                        <input type="text" name="name" placeholder="Adınızı daxil edin">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-email ltn__custom-icon">
                                        <input type="email" name="email" placeholder="Email daxil edin">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        <select class="nice-select" asp-items="@(new SelectList(ViewBag.Services, "Id", "Title"))">
                                            <option>Servis seçin</option>
                                          
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item input-item-phone ltn__custom-icon">
                                        <input type="text" name="phone" placeholder="Telefon nömrənizi daxil edin">
                                    </div>
                                </div>
                            </div>
                            <div class="input-item input-item-textarea ltn__custom-icon">
                                <textarea name="message" placeholder="Mesajınızı daxil edin"></textarea>
                            </div>
                            
                            <div class="btn-wrapper mt-0">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Pulsuz servis əldə et</button>
                            </div>
                            <p class="form-messege mb-0 mt-20"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TEAM DETAILS AREA END -->


