@model House


    <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <!-- <i class="fas fa-times"></i> -->
        </button>
    </div>
    <div class="modal-body">
        <div class="ltn__quick-view-modal-inner">
            <div class="modal-product-item">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="modal-product-img">
                            <img src="~/uploads/house/@Model.HouseImages.FirstOrDefault(x => x.PosterStatus == true).Image" alt="#">
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="modal-product-info">
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                    <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                </ul>
                            </div>
                            <h3><a href="product-details.html">@Model.Rooms Otaq @Model.City.Name da @Model.Location </a></h3>
                            <div class="product-price">
                                <span>@Model.SalePrice AZN</span>
                            </div>
                            <hr>
                            <div class="modal-product-brief">
                                <p>@Model.Desc</p>
                            </div>
                            <!-- <hr> -->
                            <div class="ltn__product-details-menu-3">
                                <ul>
                                    <li>
                                        <a  title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal" asp-action="addwishlist" asp-controller="shop" asp-route-id="@Model.Id">
                                            <i class="far fa-heart"></i>
                                            <span>Add to Wishlist</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="" title="Compare" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span>Compare</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="ltn__social-media">
                                <ul>
                                    <li>Share:</li>
                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>

                                </ul>
                            </div>
                            <label class="float-end mb-0"><a class="text-decoration" asp-action="detail" asp-controller="shop" asp-route-id="@Model.Id"><small>View Details</small></a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
