@model House
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <h1>Create</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Area">Area / sqm</label>
                <input asp-for="Area" class="form-control" placeholder="Area">
                <span class="text-danger" asp-validation-for="Area"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Baths">Baths</label>
                <input asp-for="Baths" class="form-control" placeholder="Baths">
                <span class="text-danger" asp-validation-for="Baths"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Beds">Beds</label>
                <input asp-for="Beds" class="form-control" placeholder="Beds">
                <span class="text-danger" asp-validation-for="Beds"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SalePrice">Sale Price</label>
                <input asp-for="SalePrice" class="form-control" placeholder="SalePrice">
                <span class="text-danger" asp-validation-for="SalePrice"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="HouseStatusId">House Status</label>
                <select asp-for="HouseStatusId" class="form-control" id="HouseStatusId" asp-items="@(new SelectList(ViewBag.HouseStatuses,"Id","StatusName"))">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="HouseTypeId">House Type</label>
                <select asp-for="HouseTypeId" class="form-control" id="HouseTypeId" asp-items="@(new SelectList(ViewBag.HouseTypes,"Id","Name"))">
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="AmenitiIds">Amenitis </label>
                <select asp-for="AmenitiIds" class="form-control" id="AmenitiIds" asp-items="@(new SelectList(ViewBag.Ameniti,"Id","Name"))">
                </select>
            </div>

        </div>
        <div class="form-row">
          
            <div class="form-group col-md-3">
                <label asp-for="Location">Location</label>
                <input asp-for="Location" class="form-control" placeholder="Location">
                <span class="text-danger" asp-validation-for="Location"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CityId">City</label>
                <select asp-for="CityId" class="form-control" id="CityId" asp-items="@(new SelectList(ViewBag.City,"Id","Name"))">
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TeamId">Team</label>
                <select asp-for="TeamId" class="form-control" id="TeamId" asp-items="@(new SelectList(ViewBag.Team,"Id","Fullname"))">
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="form-check">
                    <input asp-for="IsFeatured" class="form-check-input" placeholder="IsFeatured">
                    <label asp-for="IsFeatured" class="form-check-label">IsFeatured</label>
                    <span class="text-danger" asp-validation-for="IsFeatured"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <input asp-for="IsRelated" class="form-check-input" placeholder="IsRelated">
                <label asp-for="IsRelated" class="form-check-label">IsRelated</label>
                <span class="text-danger" asp-validation-for="IsRelated"></span>
            </div>
            <div class="form-group col-md-4">
                <input asp-for="IsPopular" class="form-check-input" placeholder="IsPopular">
                <label asp-for="IsPopular" class="form-check-label">IsPopular</label>
                <span class="text-danger" asp-validation-for="IsPopular"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Floor">Floor</label>
                <input asp-for="Floor" class="form-control" placeholder="Floor">
                <span class="text-danger" asp-validation-for="Floor"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CurrentFloor">Current Floor</label>
                <input asp-for="CurrentFloor" class="form-control" placeholder="Current Floor">
                <span class="text-danger" asp-validation-for="CurrentFloor"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Date">Date</label>
                <input asp-for="Date" class="form-control" placeholder="Date">
                <span class="text-danger" asp-validation-for="Date"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="YearBuilt">Built Year</label>
                <input asp-for="YearBuilt" class="form-control" placeholder="YearBuilt">
                <span class="text-danger" asp-validation-for="YearBuilt"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Rate">Rate</label>
                <input asp-for="Rate" class="form-control" placeholder="Rate">
                <span class="text-danger" asp-validation-for="Rate"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Rooms">Rooms</label>
                <input asp-for="Rooms" class="form-control" placeholder="Rooms">
                <span class="text-danger" asp-validation-for="Rooms"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Desc">Description</label>
                <textarea asp-for="Desc" class="form-control" placeholder="Description"></textarea>
                <span class="text-danger" asp-validation-for="Desc"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="PosterFile">PosterFile</label>
                <input asp-for="PosterFile" class="form-control" placeholder="PosterFile">
                <span class="text-danger" asp-validation-for="PosterFile"></span>
            </div>
           
                <div class="form-group col-md-6">
                    <label asp-for="ImageFiles">ImageFiles</label>
                    <input asp-for="ImageFiles" class="form-control" placeholder="ImageFiles">
                    <span class="text-danger" asp-validation-for="ImageFiles"></span>
                </div>
            
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>

    </form>
</div>


