@model HomeViewModel

@inject LayoutService service
@{
    double totalArea = 0;
}


<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">

        @foreach (var slide in Model.Sliders)
        {
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal ltn__slide-item-3">
                <div class="ltn__slide-item-inner @(slide.Order%2 == 0?"text-right text-end":"")">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        @if (slide.Order % 2 == 1)
                                        {
                                            <div class="slide-video mb-50 d-none">
                                                <a class="ltn__video-icon-2 ltn__video-icon-2-border" href="https://www.youtube.com/embed/tlThdr3O5Qo" data-rel="lightcase:myCollection">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        }
                                        <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-home"></i></span> @slide.MiniTitle</h6>
                                        <h1 class="slide-title animated ">@slide.Title1<br> @slide.Title2</h1>
                                        <div class="slide-brief animated">
                                            <p>@slide.Desc</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a asp-action="register" asp-controller="account" class="theme-btn-1 btn btn-effect-1">Qeydiyyatdan keçin</a>
                                            <a class="ltn__video-play-btn bg-white" href="https://www.youtube.com/embed/HnbMYzdjuBs?autoplay=1&amp;showinfo=0" data-rel="lightcase">
                                                <i class="icon-play  ltn__secondary-color"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img @(slide.Order %2 ==0?"slide-img-left":"")">
                                    <img src="~/uploads/slider/@slide.Image" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- SLIDER AREA END -->


<!-- CAR DEALER FORM AREA START -->
<div class="ltn__car-dealer-form-area mt--65 mt-120 pb-115---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__car-dealer-form-tab">
                    <div class="ltn__tab-menu  text-uppercase d-none">
                        <div class="nav">
                            <a class="active show" data-bs-toggle="tab" href="#ltn__form_tab_1_1"><i class="fas fa-car"></i>Find A Car</a>
                            <a data-bs-toggle="tab" href="#ltn__form_tab_1_2" class=""><i class="far fa-user"></i>Get a Dealer</a>
                        </div>
                    </div>
                    <div class="tab-content bg-white box-shadow-1 position-relative pb-10">
                        <div class="tab-pane fade active show" id="ltn__form_tab_1_1">
                            <div class="car-dealer-form-inner">
                                <form method="get" class="ltn__car-dealer-form-box row" asp-action="index" asp-controller="shop">
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-car---- col-lg-3 col-md-6">
                                        <select class="nice-select" name="cityId" asp-items="@(new SelectList(ViewBag.Cities,"Id","Name"))">
                                            <option value="null">Şəhər seçin</option>

                                        </select>
                                    </div>
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-meter---- col-lg-3 col-md-6">
                                        <select class="nice-select" name="houseStatusId" asp-items="@(new SelectList(ViewBag.HouseStatus,"Id","StatusName"))">
                                            <option value="null">Status seçin</option>

                                        </select>
                                    </div>
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-calendar---- col-lg-3 col-md-6">
                                        <select class="nice-select" name="houseTypeId" asp-items="@(new SelectList(ViewBag.HouseType,"Id","Name"))">
                                            <option value="null">Evin növünü seçin</option>

                                        </select>
                                    </div>
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-3 col-md-6">
                                        <div class="btn-wrapper text-center mt-0">
                                             <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">AXTARIŞ ET</button> 
                                          @*  <a asp-action="index" asp-controller="shop" asp-route-houseStatusId="@ViewBag.HouseStatusesId"class="btn theme-btn-1 btn-effect-1 text-uppercase">Find Now</a>*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ltn__form_tab_1_2">
                            <div class="car-dealer-form-inner">
                                <form action="#" class="ltn__car-dealer-form-box row">
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-car---- col-lg-3 col-md-6">
                                        <select class="nice-select">
                                            <option>Choose Area</option>
                                            <option>chicago</option>
                                            <option>London</option>
                                            <option>Los Angeles</option>
                                            <option>New York</option>
                                            <option>New Jersey</option>
                                        </select>
                                    </div>
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-meter---- col-lg-3 col-md-6">
                                        <select class="nice-select">
                                            <option>Property Status</option>
                                            <option>Open house</option>
                                            <option>Rent</option>
                                            <option>Sale</option>
                                            <option>Sold</option>
                                        </select>
                                    </div>
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-calendar---- col-lg-3 col-md-6">
                                        <select class="nice-select">
                                            <option>Property Type</option>
                                            <option>Apartment</option>
                                            <option>Co-op</option>
                                            <option>Condo</option>
                                            <option>Single Family Home</option>
                                        </select>
                                    </div>
                                    <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-3 col-md-6">
                                        <div class="btn-wrapper text-center mt-0">
                                            <!-- <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Search Inventory</button> -->
                                            <a href="shop-right-sidebar.html" class="btn theme-btn-1 btn-effect-1 text-uppercase">Search Properties</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CAR DEALER FORM AREA END -->


<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-120 pb-90 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="~/assets/img/others/@service.GetSetting().AboutUsImg" alt="About Us Image">
                    <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">

                        <div class="ltn__video-img ltn__animation-pulse1">
                            <img src="~/assets/img/others/8.png" alt="video popup bg image">
                            <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="https://www.youtube.com/embed/X7R-q9rsrtU?autoplay=1&showinfo=0" data-rel="lightcase:myCollection">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                        <h1 class="section-title">
                            @service.GetSetting().AboutUsTitle<span>.</span>
                        </h1>
                        <p>
                            @service.GetSetting().AboutUsDesc
                        </p>
                    </div>
                    <ul class="ltn__list-item-half clearfix">
                        @foreach (var item in Model.Services.Take(4))
                        {
                            <li>
                                @Html.Raw(item.Logo)
                                @item.Title
                            </li>
                        }
                    </ul>
                    <div class="btn-wrapper animated">
                        <a asp-action="index" asp-controller="service" class="theme-btn-1 btn btn-effect-1">BİZİM SERVİSLƏR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->


<!-- COUNTER UP AREA START -->
<div class="ltn__counterup-area section-bg-1 pt-120 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-select"></i>
                    </div>
                    <h1>
                        <span class="counter">
                            @ViewBag.totalArea
                        </span>
                        <span class="counterUp-icon">+</span>
                    </h1>
                    <h6>Evlərin ümumi sahəsi</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-office"></i>
                    </div>
                    <h1><span class="counter">@ViewBag.totalSold</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Satılan Evlər</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-excavator"></i>
                    </div>
                    <h1><span class="counter">@ViewBag.totalCount</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Ümumi evlərin sayı</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-armchair"></i>
                    </div>
                    <h1><span class="counter">@ViewBag.totalRooms</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Otaqların sayı</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COUNTER UP AREA END -->


@if (Model.LastOrder != null)
{
    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-120 pb-90 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-30">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                            <h1 class="section-title">Bugun satilan evimiz</h1>
                            <p>
                                @Model.LastOrder.House.Desc
                            </p>
                        </div>
                      @*  <ul class="ltn__list-item-1 ltn__list-item-1-before clearfix">
                            @foreach (var item in Model.LastOrder.House.HouseAmenitis)
                            {
                                <li> @item.Ameniti.Name</li>
                            }
                        </ul>*@
                        <ul class="ltn__list-item-2 ltn__list-item-2-before ltn__flat-info">
                            <li>
                                <span>@Model.LastOrder.House.Beds <i class="flaticon-bed"></i></span>
                                Bedrooms
                            </li>
                            <li>
                                <span>@Model.LastOrder.House.Baths <i class="flaticon-clean"></i></span>
                                Bathrooms
                            </li>
                            <li>
                                <span>@Model.LastOrder.House.Area <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                square Ft
                            </li>
                        </ul>
                        <ul class="ltn__list-item-2 ltn__list-item-2-before--- ltn__list-item-2-img mb-50">
                            @foreach (var item in Model.LastOrder.House.HouseImages.Take(3))
                            {
                                <li>
                                    <a href="~/uploads/house/@item.Image" data-rel="lightcase:myCollection">
                                        <img src="~/uploads/house/@item.Image" alt="Image">
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-right">
                        <img src="~/uploads/house/@Model.LastOrder.House.HouseImages.FirstOrDefault(x => x.PosterStatus == true).Image" alt="About Us Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US AREA END -->
}



<!-- FEATURE AREA START ( Feature - 6) -->
<div class="ltn__feature-area section-bg-1 pt-120 pb-90 mb-120---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Bizim servislər</h6>
                    <h1 class="section-title">Əsas məqsədimiz</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__custom-gutter--- justify-content-center">
            @foreach (var item in Model.Services.Take(3))
            {
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                        <div class="ltn__feature-icon">
                            <span>@Html.Raw(item.Logo)</span>

                        </div>
                        <div class="ltn__feature-info">
                            <h3><a asp-action="detail" asp-controller="service" asp-route-id="@item.Id">@item.Title</a></h3>
                            <p>@item.Desc</p>
                            <a class="ltn__service-btn" asp-action="detail" asp-controller="service" asp-route-id="@item.Id">Ev Axtar <i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->


<!-- PRODUCT SLIDER AREA START -->
<div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-90 plr--7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Evlər</h6>
                    <h1 class="section-title">Xüsusiyyətli evlər</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__product-slider-item-four-active-full-width slick-arrow-1">

            @foreach (var item in Model.Houses)
            {
                if (item.IsFeatured == true)
                {
                    <div class="col-lg-12">
                        <div class="ltn__product-item ltn__product-item-4 text-center---">
                            <div class="product-img">
                                <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id"><img src="~/uploads/house/@item.HouseImages.FirstOrDefault(x => x.PosterStatus ==true)?.Image" alt="#"></a>
                                <div class="product-badge">
                                    <ul>
                                        <li class="sale-badge bg-green">@item.HouseStatus.StatusName</li>
                                    </ul>
                                </div>
                                <div class="product-img-location-gallery">
                                    <div class="product-img-location">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="flaticon-pin"></i> @item.Location, @item.City.Name</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-img-gallery">
                                        <ul>
                                            <li>
                                                <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id"><i class="fas fa-camera"></i> @item.HouseImages.Count</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span>@item.SalePrice AZN<label>@(item.HouseStatus.Id == 2 ?"/Aylıq":"")</label></span>
                                </div>
                                <h2 class="product-title"><a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id">@item.HouseType.Name</a></h2>
                                <div class="product-description">
                                    <p>
                                        @item.Desc
                                    </p>
                                </div>
                                <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                    <li>
                                        <span>@item.Beds </span><i class="flaticon-bed"></i>
                                        Yataq otağı
                                    </li>
                                    <li>
                                        <span>@item.Baths </span><i class="flaticon-clean"></i>
                                      Hamam
                                    </li>
                                    <li>
                                        <span>@item.Area</span> <i class="flaticon-square-shape-design-interface-tool-symbol"></i>
                                        kv.m
                                    </li>
                                </ul>
                            </div>
                            <div class="product-info-bottom">
                                <div class="real-estate-agent">
                                    <div class="agent-img">
                                        <a asp-action="detail" asp-controller="team" asp-route-id="@item.Team.Id"><img src="~/uploads/team/@item.Team.Image" alt="#"></a>
                                    </div>
                                    <div class="agent-brief">
                                        <h6><a asp-action="detail" asp-controller="team" asp-route-id="@item.Team.Id">@item.Team.Fullname</a></h6>
                                        <small>Makler</small>
                                    </div>
                                </div>
                                <div class="product-hover-action">
                                    <ul>
                                        <li>
                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal" data-id="@item.Id" class="show-modal-house">
                                                <i class="flaticon-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="addwishlist" asp-controller="shop" asp-route-id="@item.Id" data-id="@item.Id" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal" class="add-wish-btn">
                                                <i class="flaticon-heart-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id" title="Product Details">
                                                <i class="flaticon-add"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>
<!-- PRODUCT SLIDER AREA END -->


<!-- VIDEO AREA START -->
<div class="ltn__video-popup-area ltn__video-popup-margin---">
    <div class="ltn__video-bg-img ltn__video-popup-height-600--- bg-overlay-black-30 bg-image bg-fixed ltn__animation-pulse1" data-bs-bg="assets/img/bg/19.jpg">
        <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="https://www.youtube.com/embed/X7R-q9rsrtU?autoplay=1&showinfo=0" data-rel="lightcase:myCollection">
            <i class="fa fa-play"></i>
        </a>
    </div>
</div>
<!-- VIDEO AREA END -->


<!-- CATEGORY AREA START -->
<div class="ltn__category-area section-bg-1-- ltn__primary-bg before-bg-1 bg-image bg-overlay-theme-black-5--0 pt-115 pb-90 d-none" data-bs-bg="img/bg/5.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title white-color">Top Categories</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__category-slider-active slick-arrow-1">
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CATEGORY AREA END -->


<!-- CATEGORY AREA START -->
<div class="ltn__category-area ltn__product-gutter section-bg-1--- pt-115 pb-90 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Bizim şəraitlər</h6>
                    <h1 class="section-title">Evlərin Şəraitləri</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__category-slider-active--- slick-arrow-1 justify-content-center">
            @foreach (var item in Model.Amenitis)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="ltn__category-item ltn__category-item-5 text-center">
                        <a asp-action="index" asp-controller="shop" >
                            <span class="category-icon">@Html.Raw(item.Logo)</span>
                            <span class="category-title">@item.Name</span>
                            <span class="category-btn"><i class="flaticon-right-arrow"></i></span>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- CATEGORY AREA END -->


<!-- TESTIMONIAL AREA START (testimonial-7) -->
<div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115 pb-70" data-bs-bg="img/bg/20.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Verilən Qiymətlər</h6>
                    <h1 class="section-title">Müştərilərin Rəyi</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__testimonial-slider-5-active slick-arrow-1">
            @foreach (var item in Model.Comments)
            {
                <div class="col-lg-4">
                    <div class="ltn__testimonial-item ltn__testimonial-item-7">
                        <div class="ltn__testimoni-info">
                            <p>
                                <i class="flaticon-left-quote-1"></i>
                              @item.Text
                            </p>
                            <div class="ltn__testimoni-info-inner">
                                <div class="ltn__testimoni-name-designation">
                                    <h5>@item.Username</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
                
            <!--  -->
        </div>
    </div>
</div>
<!-- TESTIMONIAL AREA END -->


<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-290 pb-110 plr--9 d-none">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/assets/img/brand-logo/1.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/assets/img/brand-logo/2.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/assets/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/assets/img/brand-logo/4.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/assets/img/brand-logo/5.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/assets/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->



