@model HouseViewModel
@{ 
    ViewData["Title"] = "Index";
    int order = (Model.Evler.PageIndex - 1) * 4;
}



    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="~/assets/img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Evlər</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a asp-action="index" asp-controller="home"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Ana Səhifə</a></li>
                                <li>Evlər</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->




    <!-- PRODUCT DETAILS AREA START -->
    <div class="ltn__product-area ltn__product-gutter mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ltn__shop-options">
                        <ul class="justify-content-start">
                            <li>
                                <div class="ltn__grid-list-tab-menu ">
                                    <div class="nav">
                                        <a class="active show" data-bs-toggle="tab" href="#liton_product_grid"><i class="fas fa-th-large"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_product_list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="d-none">
                                <div class="showing-product-number text-right">
                                    <span>Showing 1–12 of 18 results</span>
                                </div>
                            </li>
                            <li>
                                <div class="short-by text-center">
                                   
                                            <a asp-action="index" asp-route-sort="price_desc">
                                              Qiymət (yuxarıdan aşağı)
                                            </a>
                                     <br />
                                            <a asp-action="index" asp-route-sort="price">
                                               Qiymət (aşağıdan yuxarı)
                                            </a>
                                     
                                   
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_product_grid">
                            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Search Widget -->
                                        <div class="ltn__search-widget mb-30">
                                            <form action="#">
                                                <input type="text" name="search" placeholder="Kateqoriya daxil edin...">
                                                <button type="submit"><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>

                                    @foreach (var item in Model.Evler)
                                    {
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                                                <div class="product-img">
                                                    <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id"><img src="~/uploads/house/@item.HouseImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="#"></a>
                                                    <div class="real-estate-agent">
                                                        <div class="agent-img">
                                                            <a asp-action="detail" asp-controller="team" asp-route-id="@item.Team.Id"><img src="~/uploads/team/@item.Team.Image" alt="#"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-badge">
                                                        <ul>
                                                            <li class="sale-badg">@item.HouseStatus.StatusName</li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="product-title"><a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id">@item.HouseType.Name</a></h2>
                                                    <div class="product-img-location">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="flaticon-pin"></i> @item.Location, @item.City.Name</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                        <li>
                                                            <span>@item.Beds </span>
                                                            Yataq otağı
                                                        </li>
                                                        <li>
                                                            <span>@item.Baths </span>
                                                            San uzel
                                                        </li>
                                                        <li>
                                                            <span>@item.Area </span>
                                                            kv.m
                                                        </li>
                                                    </ul>
                                                    <div class="product-hover-action">
                                                        <ul>
                                                            <li>
                                                                <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal" data-id="@item.Id" class="show-modal-house">
                                                                    <i class="flaticon-expand"></i>
                                                                </a>
                                                            </li>
                                                            <li  style="background-color:@(item.IsWished?"#FF5A3C":"")"   >
                                                                <a   asp-action="addwishlist" asp-controller="shop" asp-route-id="@item.Id" data-id="@item.Id" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal" class="add-wish-btn">
                                                                    <i class="flaticon-heart-1"  style="color:@(item.IsWished?"white":"")"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id" title="Product Details">
                                                                    <i class="flaticon-add"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-info-bottom">
                                                    <div class="product-price">
                                                        <span>@item.SalePrice AZN<label>@(item.HouseStatus.Id == 2? "/Aylıq" : "")</label></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_product_list">
                            <div class="ltn__product-tab-content-inner ltn__product-list-view">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Search Widget -->
                                        <div class="ltn__search-widget mb-30">
                                            <form action="#">
                                                <input type="text" name="search" placeholder="Search your keyword...">
                                                <button type="submit"><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    @foreach (var item in Model.Evler)
                                    {
                                        <div class="col-lg-12">
                                            <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5">
                                                <div class="product-img">
                                                    <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id"><img src="~/uploads/house/@item.HouseImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="#"></a>
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-badge-price">
                                                        <div class="product-badge">
                                                            <ul>
                                                                <li class="sale-badg">@item.HouseStatus.StatusName</li>
                                                            </ul>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>@item.SalePrice AZN<label>@(item.HouseStatus.Id == 2?"/Aylıq":"")</label></span>
                                                        </div>
                                                    </div>
                                                    <h2 class="product-title"><a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id">@item.HouseType.Name</a></h2>
                                                    <div class="product-img-location">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="flaticon-pin"></i> @item.Location, @item.City.Name</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                        <li>
                                                            <span>@item.Beds </span>
                                                            Bed
                                                        </li>
                                                        <li>
                                                            <span>@item.Baths </span>
                                                            Bath
                                                        </li>
                                                        <li>
                                                            <span>@item.Area </span>
                                                            Square Ft
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product-info-bottom">
                                                    <div class="real-estate-agent">
                                                        <div class="agent-img">
                                                            <a asp-action="detail" asp-controller="team" asp-route-id="@item.TeamId"><img src="~/uploads/team/@item.Team.Image" alt="#"></a>
                                                        </div>
                                                        <div class="agent-brief">
                                                            <h6><a asp-action="detail" asp-controller="team" asp-route-id="@item.TeamId">@item.Team.Fullname</a></h6>
                                                            <small>Makler</small>
                                                        </div>
                                                    </div>
                                                    <div class="product-hover-action">
                                                        <ul>
                                                            <li>
                                                                <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal" data-id="@item.Id" class="show-modal-house">
                                                                    <i class="flaticon-expand"></i>
                                                                </a>
                                                            </li>
                                                            <li style="background-color:@(item.IsWished?"#FF5A3C":"")">
                                                                <a asp-action="addwishlist" asp-controller="shop" asp-route-id="@item.Id" data-id="@item.Id" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal" class="add-wish-btn">
                                                                    <i class="flaticon-heart-1" style="color:@(item.IsWished?"white":"")"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a asp-action="detail" asp-controller="shop" asp-route-id="@item.Id" title="Product Details">
                                                                    <i class="flaticon-add"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <!-- ltn__product-item -->


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ltn__pagination-area text-center">
                        <div class="ltn__pagination">
                            <ul>
                                <li class=" @(Model.Evler.HasPrev?"":"disabled")">
                                    <a  asp-action="index" asp-route-page="@(Model.Evler.PageIndex-1)"  asp-route-sort="@ViewBag.CurrentSort" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.Evler.TotalPages; i++)
                                {
                                    <li class=" @(i==Model.Evler.PageIndex?"active":"")"><a  asp-action="index" asp-route-page="@i"  asp-route-sort="@ViewBag.CurrentSort">@i</a></li>
                                }
                                <li class=" @(Model.Evler.HasNext?"":"disabled")">
                                    <a asp-action="index" asp-route-page="@(Model.Evler.PageIndex+1)"  asp-route-sort="@ViewBag.CurrentSort" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar">
                        <h3 class="mb-10">Ətrafli məlumat</h3>
                        <label class="mb-30"><small>@Model.Houses.Count() yaxın ev</small></label>
                        <!-- Advance Information widget -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title">Kateqoriya</h4>
                            <ul>
                                @foreach (var item in Model.HouseStatuses)
                                {
                                    <li>
                                        <label class="checkbox-item">
                                            <a asp-action="index" asp-controller="shop" asp-route-houseStatusId="@item.Id" data-id="@item.Id">
                                                @item.StatusName
                                                <input type="checkbox" @(ViewBag.HouseStatusesId == item.Id?"checked":"")>
                                                <span class="checkmark"></span>
                                            </a>
                                        </label>
                                        <span class="categorey-no">@(item.Houses.Count())</span>
                                    </li>
                                }

                            </ul>
                            <hr />
                            <h4 class="ltn__widget-title">Ev Növü</h4>
                            <ul>
                                @foreach (var item in Model.HouseTypes)
                                {
                                    <li>
                                        <label class="checkbox-item">
                                            <a asp-action="index" asp-controller="shop" asp-route-houseTypeId="@item.Id" data-id="@item.Id">
                                                @item.Name
                                                <input type="checkbox" @(ViewBag.HouseTypeId == item.Id?"checked":"")>
                                                <span class="checkmark" ></span>
                                            </a>
                                        </label>
                                        <span class="categorey-no">(@item.Houses.Count())</span>
                                    </li>
                                }
                            </ul>
                            <hr>
                            <h4 class="ltn__widget-title">Şəraitlər</h4>
                            <ul>
                                @foreach (var item in Model.Amenitis)
                                {
                                    <li>
                                        <label class="checkbox-item">
                                            <a asp-action="index" asp-controller="shop" asp-route-amenitiesId="@item.Id" data-id="@item.Id">
                                                @item.Name
                                                <input type="checkbox"  @(ViewBag.AmenitiesId == item.Id?"checked":"")>
                                                <span class="checkmark"></span>
                                            </a>
                                        </label>
                                        <span class="categorey-no">(@item.HouseAmenitis.Count())</span>
                                    </li>
                                }
                            </ul>
                            <hr>
                            <h4 class="ltn__widget-title">Qiymət Aralığı</h4>
                            <ul>
                                <li>
                                    <label class="checkbox-item">
                                       
                                            Aşağı qiymət
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                       
                                        <span class="categorey-no">1,000  - 30,000 </span>    
                                    </label>
                                   
                                </li>
                                <li>
                                    <label class="checkbox-item">
                                        Orta
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">$10,000 - $30,000</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">
                                        Yüksək qiymət
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">$30,000 Up</span>
                                </li>
                            </ul>
                            <hr>
                            <!-- Price Filter Widget -->
                            <div class="widget--- ltn__price-filter-widget">
                                <h4 class="ltn__widget-title ltn__widget-title-border---">Qiymətə görə filtirizasiya</h4>
                                <div class="price_filter">
                                    <div class="price_slider_amount">
                                        <input type="submit" value="Aralığ:" />
                                        <input type="text" class="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                    <div class="slider-range"></div>
                                </div>
                            </div>
                            <hr>

                        </div>
                        
                        <!-- Banner Widget -->
                        <div class="widget ltn__banner-widget d-none">
                            <a href="shop.html"><img src="~/assets/img/banner/banner-2.jpg" alt="#"></a>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT DETAILS AREA END -->

