@model ChangePasswordViewModel

@{ 
    int order = 0;

}


    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Mənim Akkauntum</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a asp-action="index" asp-controller="home"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Ana Səhifə</a></li>
                                <li>Mənim Akkauntum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->


    <!-- WISHLIST AREA START -->
    <div class="liton__wishlist-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- PRODUCT TAB AREA START -->
                    <div class="ltn__product-tab-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="ltn__tab-menu-list mb-50">
                                        <div class="nav">
                                            <a class="active show" data-bs-toggle="tab" href="#liton_tab_1_1">Tablo <i class="fas fa-home"></i></a>
                                            <a data-bs-toggle="tab" href="#liton_tab_1_2">Sifarişlər <i class="fas fa-file-alt"></i></a>
                                            <a data-bs-toggle="tab" href="#liton_tab_1_5">Account Detalları <i class="fas fa-user"></i></a>
                                            <a asp-action="logout" asp-controller="account">Çıxış et <i class="fas fa-sign-out-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="liton_tab_1_1">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <p>Salam <strong>@Model.appUser.UserName</strong> (bu <strong>@Model.appUser.UserName</strong> profil deil? <small><a asp-action="logout" asp-controller="account">Çıxış et</a></small> )</p>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="liton_tab_1_2">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Sifariş</th>
                                                                <th>Şəkil</th>
                                                                <th>Status</th>
                                                                <th>Satış Qiymeti</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.appUser.Orders)
                                                            {
                                                                order++;
                                                                <tr>
                                                                    <td scope="row">@order</td>
                                                                    <td><img src="~/uploads/house/@item.HouseImage" style="width:250px; height:180px;" /></td>
                                                                    <td>
                                                                        @if (item.Status == OrderStatus.Accepted)
                                                                        {
                                                                            <span style="background-color:forestgreen; border-radius:10px; padding:10px;">Accepted</span>
                                                                        }
                                                                        else if (item.Status == OrderStatus.Rejected)
                                                                        {
                                                                            <span style="background-color:red; border-radius:10px; padding:10px;">Rejected</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span style="background-color:deepskyblue; border-radius:10px; padding:10px;">Pending</span>
                                                                        }
                                                                    </td>
                                                                    <td>@item.SalePrice AZN</td>
                                                                    <td><a asp-action="detail" asp-controller="shop" asp-route-id="@item.House.Id">Detallı göstər</a></td>
                                                                </tr>
                                                             }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="liton_tab_1_5">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <p>The following addresses will be used on the checkout page by default.</p>
                                                <div class="ltn__form-box">
                                                    <form method="post" enctype="multipart/form-data">
                                                        <input type="hidden" asp-for="@Model.appUser.Id" />
                                                        <div class="row mb-50">
                                                            <div class="col-md-12">
                                                                <label asp-for="@Model.appUser.FullName">Fullname:</label>
                                                                <input asp-for="@Model.appUser.FullName" class="form-control" placeholder="Area">
                                                                <span class="text-danger" asp-validation-for="@Model.appUser.FullName"></span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label asp-for="@Model.appUser.UserName">Display Name:</label>
                                                                <input asp-for="@Model.appUser.UserName" class="form-control" placeholder="Username">
                                                                <span class="text-danger" asp-validation-for="@Model.appUser.UserName"></span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label asp-for="@Model.appUser.Email">Email:</label>
                                                                <input asp-for="@Model.appUser.Email" class="form-control" placeholder="Email">
                                                                <span class="text-danger" asp-validation-for="@Model.appUser.Email"></span>
                                                            </div>
                                                        </div>
                                                        <fieldset>
                                                            <legend>Password change</legend>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <label asp-for="OldPassword">Current password (leave blank to leave unchanged):</label>
                                                                    <input type="password"  asp-for="OldPassword">
                                                                    <label asp-for="NewPassword">New password (leave blank to leave unchanged):</label>
                                                                    <input type="password"  asp-for="NewPassword">
                                                                    <label asp-for="ConfirmPassword">Confirm new password:</label>
                                                                    <input type="password" asp-for="ConfirmPassword">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <div class="btn-wrapper">
                                                            <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Save Changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PRODUCT TAB AREA END -->
                </div>
            </div>
        </div>
    </div>


    <!-- WISHLIST AREA START -->
    
